
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Create Password</title>

    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="static/page_style.css" rel="stylesheet" >

    <!-- Custom styles for this template -->

	  <script type="text/javascript">
		 function finalCheckBeforeSubmit()
    {
    var email = $("#email").attr("data-email");
    //alert(email);
    $('input[name="email"]').val(email);
    }
    </script>
  </head>

  <body class="text-center">
  <div class="container">
  <img class="mb-4" src="/static/logo.png" alt="" width="330" height="255">
  <h1 class="h3 mb-3 font-weight-normal w-25 p-3">Create Password</h1>
	     <br>

	  <form class="needs-validation"  class="needs-validation" data-toggle="validator" action="{{ url_for('validate_created_password') }}" method="post">

		<div class="col-sm">
								<div class="mb-3 w-25 p-3">
									<input id="enter_password" name="enter_password" type="password" class="form-control"
										     autocomplete="new-password" required>
									<label for="enter_password">Enter Password</label>
								</div>

			<div class="mb-3 w-25 p-3">
									<input id="re_enter_password" name="re_enter_password" type="password" class="form-control"  autocomplete="new-password" required>
									<label for="re_enter_password">Re-enter Password</label>
								</div>
							</div>
	  <br>

		   <input id="email" name="email" hidden  type="email"  data-email="{{ email }}">

	  <input class="btn btn-primary btn-lg btn-block w-25 p-3" type="submit" value="Create Password" onclick="finalCheckBeforeSubmit();"></input>

	  </form>

	  <br>

	  <div>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning w-50 p-3">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
</div>


  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
