<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link href="static/page_style.css" rel="stylesheet">
	  	<script type="text/javascript" src="static/send_message.js"></script>

    <title>Create Message</title>

	  <script type="text/javascript">
	  </script>

  </head>
  
  
  
   <body class="text-center">
   <div class="container-fluid" style="width:65%;">
  <div class="container text-center">
      <div class="col-md-8 order-md-1">
    <form class="form-signin" method="post" action="{{ url_for('send_message') }}">
  <img class="mb-4" src="/static/logo.png" alt="" width="330" height="255">
  <h1 class="mb-3"><u>Send Message</u></h1><br>
		<div class="form-check">
			<h3 class="mb-3">Select Message Media</h3><br><br><br>
  <input class="form-check-input" type="checkbox" value="Email" id="email" name="email">
  <label class="form-check-label" for="email">Email</label>
			<input class="form-check-input" type="checkbox" value="Text" id="text" name="text">
  <label class="form-check-label" for="text">Text</label>
</div>

		<br><br>
		<h3 class="mb-3">Write Message Contents</h3><br><br><br>
		<div class="row" >
					<div class="col-md-6 mb-3" style="margin-left:25%;margin-right:10%;">
						<label id="label_for_tutor_or_student_list1" name="label_for_tutor_or_student_list" for="tutor_or_student_list" class="form-label">Select Student</label>
						<select class="form-control" id="tutor_or_student_list1" name="tutor_or_student_list" required>
						</select>
						<div id="error_for_tutor_or_student_list1" name="error_for_tutor_or_student_list" class="invalid-feedback">Valid Student is required</div>
					</div>
		</div>


		<br><br>
		<h3 class="mb-3">Select Message Recepients</h3><br><br><br>
		<div class="row" >
					<div class="col-md-6 mb-3" style="margin-left:25%;margin-right:10%;">
						<label id="label_for_tutor_or_student_list" name="label_for_tutor_or_student_list" for="tutor_or_student_list" class="form-label">Select Student</label>
						<select class="form-control" id="tutor_or_student_list" name="tutor_or_student_list" required>
						</select>
						<div id="error_for_tutor_or_student_list" name="error_for_tutor_or_student_list" class="invalid-feedback">Valid Student is required</div>
					</div>
		</div>

<h3 class="mb-3">Select Message Recepients</h3><br><br><br>
		<div class="row" >
					<div class="col-md-6 mb-3" style="margin-left:25%;margin-right:10%;">
						<label id="label_for_tutor_or_student_list2" name="label_for_tutor_or_student_list" for="tutor_or_student_list" class="form-label">Select Student</label>
						<select class="form-control" id="tutor_or_student_list2" name="tutor_or_student_list" required>
						</select>
						<div id="error_for_tutor_or_student_list2" name="error_for_tutor_or_student_list" class="invalid-feedback">Valid Student is required</div>
					</div>
		</div>
		<br><br><br>
 								 <div class="row justify-content-center"><input class="btn btn-primary btn-lg btn-block w-25 p-3" type="submit" name="submit" value="Send"></div>

		<br><br><br>	  <div class="container text-center"><a class="link-primary" href="/logout">Logout</a></div>

		<br><br>
		<p class="mt-5 mb-3 text-muted">&copy; 2017-2022</p>
</form>
      </div>
	  <br><br><br>
  </div>
   </div>
  </body>

</html>