
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <title>Hours</title>

    <!-- Bootstrap core CSS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link href="static/page_style.css" rel="stylesheet">
	<script type="text/javascript" src="static/students_reports.js"></script>

    <!-- Custom styles for this template -->

	  <script type="text/javascript">

	  </script>


  </head>

  <body class="text-center">

  <div class="container-fluid">


	   <img class="mb-4" src="/static/logo.png" alt="" width="330" height="255">
	  {% set ns = namespace(is_admin=false) %}
	  {% set ns = namespace(is_trusted_tutor=false) %}
		{% for role in current_user.roles %}
		 {% if 'admin' in role.name %}
							{% set ns.is_admin = true %}
		 {% endif %}
	  {% if 'trusted_tutor' in role.name %}
							{% set ns.is_trusted_tutor = true %}
		 {% endif %}
						  {% endfor %}
  <h1 class="h3 mb-3 font-weight-normal"><u>Enter Students Reports</u></h1>
	     <br>
	  <br>
<div class="container-fluid" style="width:65%;">

	  <div>

		  <div>
								<form action="{{url_for('students_reports')}}" method="post">

									<div id="students_feedback" name="students_feedback">


											  {% for name in students_names_data %}
										{% set student_email = students_emails_data[loop.index0] %}

<div><u>{{name}}</u></div>
<br>
										<div class="row ">

											<div class="col text-center  col-md-6 mb-3">
	<label for={{[student_email,"_vensti_attendance"]|join}}>Attendance</label>
	<select id={{[student_email,"_vensti_attendance"]|join}} name={{[student_email,"_vensti_attendance"]|join}} class="form-control" required>
		<option value="" selected disabled hidden></option>
<option value='Yes'>Yes</option>
	<option value='No'>No</option>
	<option value='N/A'>N/A</option>
	</select>

		<br><br>
												</div>

												<div class="col text-center col-md-6 mb-3">
										<label for={{[student_email,"_vensti_home_work"]|join}}>Homework</label>
	<select id={{[student_email,"_vensti_home_work"]|join}} name={{[student_email,"_vensti_home_work"]|join}} class="form-control" required/>
	<option value="" selected disabled hidden></option>
	<option value='Yes'>Yes</option>
	<option value='No'>No</option>
	<option value='N/A'>N/A</option>
													</select>
													<br><br>
										</div>
										</div>

										<div class="row">
										<div class="col text-center" >
	<label for={{[student_email,"_vensti_memo_1"]|join}}>What was tutored today?</label>
	<textarea  id={{[student_email,"_vensti_memo_1"]|join}}  name={{[student_email,"_vensti_memo_1"]|join}} class="form-control" rows="5" required placeholder="What chapters or concepts did you go over with the student today? Don't just name them. Write a few sentences explaining in detail."></textarea>
											</div>

											<div class="col text-center" >
	<label for={{[student_email,"_vensti_memo_2"]|join}}>What should be completed for tomorrow?</label>
	<textarea  id={{[student_email,"_vensti_memo_2"]|join}} name={{[student_email,"_vensti_memo_2"]|join}} class="form-control" rows="5" required placeholder="What homework or study instructions have you assigned to the student ahead of your next meeting?"></textarea>
											</div>

											<div class="col text-center" >
	<label for={{[student_email,"_vensti_memo_3"]|join}}>Any further comments?</label>
	<textarea  id={{[student_email,"_vensti_memo_3"]|join}} name={{[student_email,"_vensti_memo_3"]|join}} class="form-control" rows="5" required placeholder="EXPLICITLY COMMENT ON WHETHER OR NOT THEY DID THE WORKSHEETS AND KHAN ACADEMY (ask them if I assigned them the latter)! Comment on other things you observed e.g tardiness, seriousness etc"></textarea>
											</div>


											</div>


											{% if ns.is_trusted_tutor %}
							<div class="form-check row my-2 text-center">
  <input class="form-check-input" type="checkbox" value="send" id={{[student_email,"_vensti_send_report"]|join}} name={{[student_email,"_vensti_send_report"]|join}}>
  <label class="form-check-label" for={{[student_email,"_vensti_send_report"]|join}}>
    Send report
  </label>
</div>
							{% endif %}



<datalist id="attendance_options" >
	<option value='Yes'>
	<option value='No'>
	<option value='N/A'>
</datalist>

										<datalist id="homework_options" >
	<option value='Yes'>
	<option value='No'>
	<option value='N/A'>
</datalist>

										<br><br><br>
										<br><br><br>

  {% endfor %}
									</div>
									{% if students_names_data|length != 0 %}
									<br><div class="row justify-content-center"><input id="submit" name="submit" class="btn btn-primary btn-lg btn-block text-center w-25 p-3" type="submit" value="Submit"></div>
									{% else %}
						<div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
	   <span>Unable to enter student report. No student has been assigned to you.</span>
    </div>
						{% endif %}
								</form>
							</div>
		  </div>

	   <div ><br>

		    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning w-50 p-3" style="display:inline-block; width:50%;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}


		  </div>
  </div>
	    <br>	  <div class="container text-center"><a class="link-primary" href="/logout">Logout</a></div>

		<br><br>
		<p class="mt-5 mb-3 text-muted">&copy; 2017-2022</p>
	    </div>

  <br><br><br>

  <!-- Perfect Tense Script-->
<script src="https://cdn.jsdelivr.net/npm/perfecttense-editor@latest/dist/pte.umd.js">
</script>

<script>
  PerfectTenseEditor({ clientId: "625d8e49200ce13f994b166c" });
</script>

  </body>
</html>
